
@import 'utils/vars';
@import 'utils/reset';
@import 'utils/mixins';
@import 'utils/fonts';


/* base styles */
::-webkit-scrollbar { width: 10px; height: 10px; }
::-webkit-scrollbar-track { box-shadow: $mainShadow; }
::-webkit-scrollbar-thumb { background: $mainColor; outline: 1px solid $darkGrey; }
::-webkit-scrollbar-corner { background: $mainColor; }
::-webkit-resizer { background: $darkGrey; }

html { font-size: $mainFontSize; }
body { background: $backgroundColor; color: $mainColor; font-weight: $mainFontWeight; font-size: 1rem; font-family: $mainFont; line-height: $mainLineHeight;

  scrollbar-width: thin;
  scrollbar-color: $mainColor $darkGrey;
}

#app { position: relative; width: 100%; max-width: $desktopWidth_lg; margin: 0 auto; }

h1 { font: normal 28px/34px 'Museo Cyrl'; }
h2 { font: normal 28px/28px 'Museo Cyrl'; }
h3 { font: bold 48px/48px 'Museo Cyrl'; }
h4 { font: 900 44px/44px 'Museo Cyrl'; }
h5 { font: bold 25px/25px 'Museo Cyrl'; }
// h6 { font: normal 16px/17px 'Museo Cyrl'; }

p { font: normal 16px/17px 'Circe'; }
b { font-weight: bold; }
i { font-style: italic; }

a { color: $linkColor; transition: all .3s ease-out;
  &:active,
  &:hover,
  &:focus { color: $linkColor; }

  svg { transition: fill .3s ease-out; }
}

.container { position: relative; width: 100%; margin: 0 auto; padding: 2rem 1rem; background: transparent; display: grid; grid-gap: 2rem 1rem; grid-template-rows: auto; grid-template-columns: repeat(6, 1fr);

  @media screen and (min-width: $tabletWidth) { width: $tabletWidth; padding: 2rem; grid-template-columns: repeat(8, 1fr); }
  @media screen and (min-width: $laptopWidth) { width: $laptopWidth; grid-gap: 2rem; }
  @media screen and (min-width: $desktopWidth) { width: $desktopWidth; grid-template-columns: repeat(12, 1fr); }
  @media screen and (min-width: $desktopWidth_md) { width: $desktopWidth_md; }
}

@media screen and (min-width: $tabletWidth) {
  h1 { font-size: 58px; line-height: 69px; }
  h2 { font-size: 50px; line-height: 50px; }
  h3 { font-size: 64px; line-height: 64px; }
  h4 { font-size: 42px; line-height: 42px; }

  a:hover { color: $linkColor_hover; }
}


/* form styles */
form {
  fieldset { display: flex; }

  label { color: $labelColor; font: 300 20px/23px 'Circe'; }
  textarea,
  input { width: 100%; border: 1px solid $lightGrey; border-radius: 5px; background: $white; color: $mainColor;
    &:focus { border-color: $successColor; }
    &.error { border-color: $errorColor; }
  }
  textarea { min-height: 7.75rem; padding: .625rem .75rem; font: normal 16px/18px 'Circe'; resize: none;
    &::placeholder { color: $darkGrey; }
  }
  input { height: 2.375rem; padding: 0 .75rem; font: normal 20px/23px 'Circe';
    &::placeholder { color: $mainColor; }
  }

  .radio { display: flex;
    label { position: relative; padding-left: 1.5rem; font: normal 15px/18px 'Circe'; cursor: pointer; display: inline-block;
      &::before { @include pseudo; left: 0; top: 0; width: 18px; height: 18px; border: 1px solid $lightGrey; border-radius: 50%; background: $white; }
    }
    input[type=radio] { display: none;
      &:checked + label::before { background: $white url('../image/icon/radio.svg') center no-repeat; }
    }
  }

  .choice { width: calc((100% - .75rem)/2);
    a { width: 100%; height: 3.125rem; border-radius: 1.5625rem; padding: 0 1.625rem; background: $itemBackground; color: $mainColor; font-weight: bold; font-size: 19px; line-height: 19px; display: flex; align-items: center;
      &:hover,
      &.active { background: linear-gradient(103.56deg, $accentColor 3%, $accentColor2 118.54%);
        svg { fill: $white; }
      }
      &.ios svg { width: 25px; height: 31px; margin-right: 1.5rem; }
      &.android svg { width: 29px; height: 34px; margin-right: .75rem; }
      &.web svg { width: 38px; height: 32px; margin-right: 1rem; }

      svg { fill: $iconColor; }
      span { margin-top: .125rem; }
    }
  }

  @media screen and (min-width: $laptopWidth) {
    input { height: 1.75rem; }

    .radio label { font-size: 16px; }

    .choice { width: 11.75rem; }
  }
}

.button {
  a { height: 2.875rem; border-radius: 1.4375rem; padding: 0 3.125rem; background: $linkColor; color: $white; font: bold 23px/26px 'Circe'; text-align: center; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center;
    &:hover { background: $accentColor; color: $white; }
    &.send { background: $accentColor2; }
  }

  &_main a { height: 3.125rem; border-radius: 1.5625rem; padding: 0 1.375rem; background: linear-gradient(229.48deg, $accentColor -60.44%, $accentColor2 155.69%); font-size: 25px; line-height: 28px;
    &:hover { background: linear-gradient(229.48deg, $accentColor -60.44%, $accentColor 155.69%); }
  }
  &_min a { height: 2.5rem; border-radius: 1.25rem; padding: 0 1.875rem; background: linear-gradient(229.48deg, $accentColor -60.44%, $accentColor2 155.69%); font-size: 16px; line-height: 17px;
    &:hover { background: linear-gradient(229.48deg, $accentColor -60.44%, $accentColor 155.69%); }
  }

  @media screen and (min-width: $laptopWidth) {
    a { height: 2.5rem; border-radius: 1.25rem; padding: 0 1.5625rem; font-size: 20px; line-height: 23px; }

    &_main a { height: 3.625rem; border-radius: 1.8125rem; padding: 0 3.125rem; font-size: 28px; line-height: 31px; }
    &_min a { font-size: 16px; line-height: 17px; }
  }
}


/* layout styles */
header { @include z('header');
  .container { height: 4.5rem; padding: 1rem;
    .header { grid-column: 1 / 7; display: flex; justify-content: space-between; align-items: center;
      &-logo {
        a { display: flex;
          &:hover svg { fill: $accentColor; }

          svg { width: 186px; height: 39px; fill: $logoColor; }
        }
      }
      &-social { display: flex; align-items: center;
        &__icon { flex: none;
          &:not(:last-child) { margin-right: .375rem; }
          a { display: flex;
            &:hover svg { fill: $accentColor; }

            svg { width: 35px; height: 35px; fill: $mainColor; }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 2rem; height: 8.25rem;
      .header { grid-column: 1 / 9;
        &-logo {
          a svg { width: 320px; height: 68px; }
        }
        &-social {
          &__icon {
            &:not(:last-child) { margin-right: .5rem; }
            a svg { width: 41px; height: 41px; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .header { grid-column: 1 / 13; }
    }
  }
}

main { @include z('main'); }

footer { background: $mainColor; @include z('footer');
  .container {
    .footer { grid-column: 1 / 7; position: relative;
      &-logo { margin-bottom: 2.8125rem; display: flex;
        svg { width: 162px; height: 34px; fill: $logoColor; }
      }
      &-info {
        &__copyright { margin-bottom: .375rem; color: $copyrightColor;
          p { font-size: 15px; line-height: 15px;
            span { margin-right: .25rem; font-family: 'Museo Cyrl'; font-size: 14px; }
          }
        }
        &__link a { color: $darkGrey; font-weight: bold; font-size: 15px; line-height: 15px;
          &:hover { color: $white; }
        }
      }
      &-social { position: absolute; top: 0; right: 0; display: flex; align-items: center;
        &__icon { flex: none;
          &:not(:last-child) { margin-right: .375rem; }
          a { display: flex;
            &:hover svg { fill: $accentColor; }

            svg { width: 35px; height: 35px; fill: $white; }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 3.125rem 2rem 2.75rem; height: 12.75rem;
      .footer { grid-column: 1 / 9;
        &-logo { margin-bottom: 2.125rem; }
        &-info {
          &__copyright { margin-bottom: .5rem; }
        }
        &-social { top: auto; bottom: 0;
          &__icon {
            &:not(:last-child) { margin-right: .5rem; }
            a svg { width: 41px; height: 41px; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .footer { grid-column: 1 / 13; }
    }
  }
}


/* page styles */
@import 'page/index';


/* module styles */
@import 'module/popup';
