
/* Museo Cyrl */
@font-face {
  font-family: 'Museo Cyrl';
  src: local('Museo Cyrl 500'), local('MuseoCyrl-500'),
      //  url('../../assets/font/MuseoCyrl/MuseoCyrl-500.woff2') format('woff2'),
      //  url('../../assets/font/MuseoCyrl/MuseoCyrl-500.woff') format('woff'),
      //  url('../../assets/font/MuseoCyrl/MuseoCyrl-500.otf') format('truetype'),
       url('../../assets/font/MuseoCyrl/MuseoCyrl-500.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Cyrl';
  src: local('Museo Cyrl 500 Italic'), local('MuseoCyrl-500Italic'),
      //  url('../../assets/font/MuseoCyrl/MuseoCyrl-500Italic.woff2') format('woff2'),
      //  url('../../assets/font/MuseoCyrl/MuseoCyrl-500Italic.woff') format('woff'),
      //  url('../../assets/font/MuseoCyrl/MuseoCyrl-500Italic.otf') format('truetype'),
       url('../../assets/font/MuseoCyrl/MuseoCyrl-500Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Cyrl';
  src: local('Museo Cyrl 700'), local('MuseoCyrl-700'),
      //  url('../../assets/font/MuseoCyrl/MuseoCyrl-700.woff2') format('woff2'),
      //  url('../../assets/font/MuseoCyrl/MuseoCyrl-700.woff') format('woff'),
      //  url('../../assets/font/MuseoCyrl/MuseoCyrl-700.otf') format('truetype'),
       url('../../assets/font/MuseoCyrl/MuseoCyrl-700.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Cyrl';
  src: local('Museo Cyrl 700 Italic'), local('MuseoCyrl-700Italic'),
      //  url('../../assets/font/MuseoCyrl/MuseoCyrl-700Italic.woff2') format('woff2'),
      //  url('../../assets/font/MuseoCyrl/MuseoCyrl-700Italic.woff') format('woff'),
      //  url('../../assets/font/MuseoCyrl/MuseoCyrl-700Italic.otf') format('truetype'),
       url('../../assets/font/MuseoCyrl/MuseoCyrl-700Italic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Cyrl';
  src: local('Museo Cyrl 900'), local('MuseoCyrl-900'),
      //  url('../../assets/font/MuseoCyrl/MuseoCyrl-900.woff2') format('woff2'),
      //  url('../../assets/font/MuseoCyrl/MuseoCyrl-900.woff') format('woff'),
      //  url('../../assets/font/MuseoCyrl/MuseoCyrl-900.otf') format('truetype'),
       url('../../assets/font/MuseoCyrl/MuseoCyrl-900.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Museo Cyrl';
  src: local('Museo Cyrl 900 Italic'), local('MuseoCyrl-900Italic'),
      //  url('../../assets/font/MuseoCyrl/MuseoCyrl-900Italic.woff2') format('woff2'),
      //  url('../../assets/font/MuseoCyrl/MuseoCyrl-900Italic.woff') format('woff'),
      //  url('../../assets/font/MuseoCyrl/MuseoCyrl-900Italic.otf') format('truetype'),
       url('../../assets/font/MuseoCyrl/MuseoCyrl-900Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}


/* Circe */
@font-face {
  font-family: 'Circe';
  src: local('Circe'), local('Circe-Regular'),
       url('../../assets/font/Circe/Circe-Regular.woff2') format('woff2'),
       url('../../assets/font/Circe/Circe-Regular.woff') format('woff'),
       url('../../assets/font/Circe/Circe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: local('Circe Bold'), local('Circe-Bold'),
       url('../../assets/font/Circe/Circe-Bold.woff2') format('woff2'),
       url('../../assets/font/Circe/Circe-Bold.woff') format('woff'),
       url('../../assets/font/Circe/Circe-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: local('Circe Light'), local('Circe-Light'),
       url('../../assets/font/Circe/Circe-Light.woff2') format('woff2'),
       url('../../assets/font/Circe/Circe-Light.woff') format('woff'),
       url('../../assets/font/Circe/Circe-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circe';
  src: local('Circe Extra Bold'), local('Circe-ExtraBold'),
       url('../../assets/font/Circe/Circe-ExtraBold.woff2') format('woff2'),
       url('../../assets/font/Circe/Circe-ExtraBold.woff') format('woff'),
       url('../../assets/font/Circe/Circe-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
