
/* font options */
$mainColor                 : #000000;
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFont                  : 'Circe', sans-serif;
$mainLineHeight            : 1.5;
$mainShadow                : inset 0 0 1px rgba(0, 0, 0, .6);

/* screen resolution */
$mobileWidth               : 576px;
$tabletWidth               : 768px;
$laptopWidth               : 992px;
$desktopWidth              : 1184px;
$desktopWidth_md           : 1376px;
$desktopWidth_lg           : 1920px;

/* primary colors */
$backgroundColor           : #ffffff;
$linkColor                 : #000000;
$linkColor_hover           : #fea621;
$accentColor               : #fea621;
$accentColor2              : #ffd801;
$successColor              : #fea621;
$errorColor                : #fe5521;
$logoColor                 : #ffbd21;
$textColor                 : #737373;
$itemBackground            : #f2f2f2;
$iconColor                 : #b3b3b3;
$tabTitleColor             : #9b9b9b;
$copyrightColor            : #4d4d4d;
$labelColor                : #1a1a1a;
$overlayBackground         : rgba(115, 115, 115, .5);
$moduleShadow              : 0 0 50px rgba(0, 0, 0, .2);

/* complementary colors */
$white                     : #ffffff;
$darkGrey                  : #808080;
$lightGrey                 : #e6e6e6;
