
/* popup */
#popup { position: fixed; left: 0; top: 0; width: 100%; height: 100vh; overflow: auto; display: none; @include z('popup');

  /* однопальцевый скролл для iPad */
  -webkit-overflow-scrolling: touch;

  /* фикс для странностей в iPad */
  > * { -webkit-transform: translateZ(0px); transform: translateZ(0px); }

  .overlay { position: absolute; left: 0; top: 0; width: 100%; min-height: 100vh; overflow-x: hidden; display: none; @include z('popup-overlay');
    .close-popup { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: $overlayBackground; mix-blend-mode: normal; backdrop-filter: blur(20px); }
    .module { position: relative; left: 50vw; width: calc(100% - 30px); box-shadow: $moduleShadow; border-radius: 26px; margin: 3rem 0; padding: 3rem 1rem 2rem; background: $white; opacity: 0; overflow: hidden; display: none; transform: translate(-50%, 0);
      &.center { top: 50vh; margin: 0; transform: translate(-50%, -50%);

        /* добавляет сглаживание */
        // -webkit-image-rendering: pixelated; -moz-image-rendering: pixelated; image-rendering: pixelated;
      }
      .close-popup { position: absolute; left: auto; top: 16px; right: 16px; width: 30px; height: 30px; background: transparent; backdrop-filter: none;
        &:hover svg { fill: $linkColor_hover; }
        svg { width: 30px; height: 30px; fill: $mainColor; }
      }

      /* заказ приложения */
      &#request {
        .request { width: 100%;
          &-form { width: 100%;
            &__title { margin-bottom: .875rem; font-weight: bold; font-size: 23px; line-height: 23px;
              &:not(:first-of-type) { margin-top: 1.5rem; }
            }
            &__text p { color: $textColor; font-size: 17px; line-height: 17px; }
            &__line { width: 100%; margin-top: 1.25rem; display: flex;
              &:first-of-type { flex-wrap: wrap; }
              &:last-child { flex-direction: column; }

              .choice {
                &:first-of-type { margin-right: .75rem; }
                &:not(:last-child) { margin-bottom: .75rem; }
              }
            }
            &__column { margin-bottom: 1rem; display: flex; flex-direction: column;
              label { margin: 0 0 .3125rem .75rem; font-size: 16px; line-height: 18px; }
            }
            &__block { width: 100%; margin-top: .5rem; }
            &__button { display: flex; justify-content: center; }
          }
        }
      }

      @media screen and (min-width: $tabletWidth) { padding: 3.75rem 3.5rem 2.75rem;
        .close-popup { top: 28px; right: 34px; }

        &#request {
          .request {
            &-form {
              &__title:not(:first-of-type) { margin-top: 2.25rem; }
              &__line {
                &:first-of-type { flex-wrap: nowrap; }
                &:last-child { flex-direction: row; justify-content: space-between; }

                .choice:not(:last-child) { margin: 0 .75rem 0 0; }
              }
              &__column:not(:last-of-type) { margin: 0 1rem 0 0; }
              &__button { justify-content: flex-end; align-items: flex-end; }
            }
          }
        }
      }
      @media screen and (min-width: $laptopWidth) {
        &#request {
          .request {
            &-form {
              &__button { margin-left: 7rem; }
            }
          }
        }
      }
      @media screen and (min-width: $desktopWidth) { width: 1040px;
        &#request {
          .request {
            &-form {
              &__column:not(:last-of-type) { margin: 0 2.75rem 0 0; }
            }
          }
        }
      }
    }
  }
}
