
/* Index page */
#index {
  .container { min-height: 41.375rem;
    .index { grid-column: 1 / 7;
      &__title { margin-bottom: 1.125rem; display: flex; align-items: center; }
      &__image { margin-left: .5rem; flex: none;
        img { width: 28px; height: 28px; }
      }
      &__lead { font-size: 16px; line-height: 18px; }
    }
    .index-image { grid-column: 1 / 7; margin: -.625rem 0 -.375rem; display: flex; justify-content: center;
      img { width: 296px; flex: none; }
    }
    .index-info { grid-column: 1 / 7;
      &__text { margin-bottom: 1.75rem;
        p { color: $textColor; font-size: 17px; line-height: 19px;
          &:not(:last-child) { margin-bottom: .5rem; }
        }
      }
      &__button { display: flex; justify-content: center; }
    }

    @media screen and (min-width: $tabletWidth) { min-height: 34.375rem;
      .index { grid-column: 1 / 9;
        &__title { align-items: flex-end; }
        &__image img { width: 58px; height: 57px; }
        &__lead { font-size: 33px; line-height: 37px; }
      }
      .index-image { grid-column: 1 / 9; margin: 0;
        img { width: 100%; }
      }
      .index-info { grid-column: 1 / 9; }
    }
    @media screen and (min-width: $laptopWidth) { grid-template-rows: auto 1fr;
      .index { grid-column: 1 / 5; margin-right: -2rem; }
      .index-image { grid-row: 1 / 3; grid-column: 5 / 9; margin: 0 0 0 2rem; }
      .index-info { grid-row: 2 / 3; grid-column: 1 / 5;
        &__button { justify-content: flex-start; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .index { grid-column: 1 / 8;
        &__title { margin: 1rem 0 2.3125rem; align-items: center; }
        &__lead { margin-bottom: 2rem; }
      }
      .index-image { grid-column: 8 / 13; margin: 0; align-items: center;
        img { width: 486px; }
      }
      .index-info { grid-column: 1 / 8;
        &__text { margin: 0 12rem 1.75rem 0;
          p { color: $textColor; font-size: 25px; line-height: 28px;
            &:not(:last-child) { margin-bottom: .75rem; }
          }
        }
      }
    }
  }
}

#apps {
  .container { padding: 2rem 0 0; grid-template-rows: auto 1fr;
    .apps { grid-column: 1 / 7;
      &__title { margin: .75rem 0;
        h2 { text-align: center; }
      }
    }
    .apps-list { grid-column: 1 / 7; display: flex; flex-direction: column;
      &-item { min-height: 16.375rem; padding: 1rem 0 1rem 1rem; display: flex; justify-content: space-between; align-items: center;
        &:not(:last-child) { background: linear-gradient(245.13deg, $accentColor 13.67%, $accentColor2 96.06%); }
        &:last-child { padding: 4rem 1rem 3.75rem; background: linear-gradient(293.11deg, $lightGrey 56.18%, $white 83.52%); flex-direction: column; align-items: flex-start;
          .apps-list-item__title { margin-bottom: 2.5rem; }
        }

        &__label { margin-bottom: 1.6875rem; height: 1.125rem; border-radius: .5625rem; padding: 0 .625rem; background: $mainColor; color: $logoColor; font-size: 10px; line-height: 10px; display: inline-flex; justify-content: center; align-items: center; }
        &__tags { margin-bottom: .875rem; font-size: 12px; line-height: 13px; }
        &__title { margin-bottom: .875rem;
          a { color: $mainColor;
            &:hover { color: $white; }
          }
        }
        &__desc { margin-bottom: 1rem;
          p { font-size: 14px; line-height: 15px; }
        }
        &__time { margin-bottom: 1.1875rem; font-size: 17px; line-height: 19px; display: flex; align-items: center;
          span { margin-right: .25rem; }
        }
        &__icon { margin-right: 1rem;
          img { width: 18px; height: 18px; }
        }
        &__city,
        &__category { font-weight: 800; font-size: 10px; line-height: 13px;
          span { margin-left: .375rem; }
        }
        &__image { display: flex; justify-content: center; align-items: center;
          img { flex: none; }
        }

        &-form {
          &__title { margin-bottom: 1rem; font-weight: bold; font-size: 18px; line-height: 20px; }
          &__line { margin-bottom: 1.375rem; display: flex;
            &:not(:first-of-type) { flex-direction: column; }

            .radio:not(:last-child) { margin-right: 1rem; }
          }
          &__column { display: flex; flex-direction: column;
            &:not(:last-child) { margin-bottom: 1.375rem; }

            label { margin: 0 0 .3125rem .75rem; }
          }
          &__block { width: 100%; }
          &__button { display: flex; justify-content: center; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { width: 100%; min-height: 56.875rem;
      .apps { grid-column: 1 / 9; }
      .apps-list { grid-column: 1 / 9;
        &-item { min-height: 28rem; padding: 2rem 2rem 2rem 4rem;
          &:last-child { padding: 2rem 4rem; background: linear-gradient(252.23deg, $lightGrey 10.59%, $white 88.88%); }

          &__label { margin-bottom: 2.25rem; font-size: 13px; line-height: 14px; }
          &__tags { margin-bottom: 1.1875rem; font-size: 16px; line-height: 17px; }
          &__title { margin-bottom: 1.125rem; }
          &__desc { margin-bottom: 1.3125rem;
            p { font-size: 18px; line-height: 20px; }
          }
          &__time { margin-bottom: 1.5625rem; font-size: 23px; line-height: 26px; display: flex; align-items: center;
            span { margin-right: .375rem; }
          }
          &__icon { margin-right: 1.375rem;
            img { width: 24px; height: 24px; }
          }
          &__city,
          &__category { font-size: 13px; line-height: 17px;
            span { margin-left: .5rem; }
          }
          &__image img { width: 318px; }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .apps-list { flex-direction: row; flex-wrap: wrap;
        &-item { width: 50%; padding: 2rem 0 2rem 2rem;
          &:last-child { padding: 2rem; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) { padding: 5.625rem 0 0;
      .apps { grid-column: 1 / 13;
        &__title { margin-bottom: 1.625rem; }
      }
      .apps-list { grid-column: 1 / 13;
        &-item { padding: 2rem 0 2rem 4.375rem; justify-content: flex-end;
          &:nth-child(2) { padding: 2rem 2.375rem 2rem 4.375rem; justify-content: flex-start; }
          &:last-child { padding: 2rem 4.375rem; justify-content: flex-start; }

          &__info { width: 310px; }
          &__image { width: 250px; }

          &-form {
            &__line { display: flex;
              &:not(:first-of-type) { flex-direction: row; }
            }
            &__column { width: calc((100% - 1rem)/2);
              &:not(:last-child) { margin: 0 1rem 0 0; }
            }
            &__button { justify-content: flex-end; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth_md) {
      .apps-list {
        &-item {
          &__info { width: 362px; }
          &__image { width: 294px; }

          &-form { width: 612px;
            &__column { width: calc((100% - 2.375rem)/2);
              &:not(:last-child) { margin: 0 2.375rem 0 0; }
            }
          }
        }
      }
    }
  }
}

#services {
  .container { min-height: 46.25rem; padding: 4.75rem 1rem 3.5rem;
    .services { grid-column: 1 / 7; display: flex; flex-direction: column; align-items: center;
      &-nav { height: 3.25rem; margin-bottom: 3.375rem; border-radius: 1.625rem; background: $lightGrey; display: inline-flex; justify-content: center; align-items: center;
        a { height: 100%; border-radius: 1.625rem; padding: 0 1.75rem; background: transparent; color: $darkGrey; font: bold 24px/24px 'Museo Cyrl'; text-align: center; display: flex; align-items: center;
          &:not(:last-child) { margin-right: .75rem; }
          &.active { background: linear-gradient(262.89deg, $accentColor -13.53%, $accentColor2 102.33%); color: $mainColor; }
        }
      }
      &-list {
        &-item {
          &__title { margin-bottom: 2.5rem; color: $tabTitleColor; font-weight: bold; font-size: 30px; line-height: 30px; }
          &__info {
            &:not(:last-child) { margin-bottom: 4.375rem; }
          }
          &__group { margin-bottom: 2.25rem; }
          &__text p { color: $textColor;
            &:not(:last-child) { margin-bottom: .375rem; }
          }
          &__problem,
          &__decision { margin-bottom: 1.125rem; font-weight: bold; font-size: 23px; line-height: 23px; }
          &__budget { font-weight: 300; font-size: 21px; line-height: 28px;
            span { font-weight: bold; }
          }
          &__date { font-weight: 300; font-size: 21px; line-height: 28px;
            span { color: $accentColor; font-weight: bold; }
          }
          &__button { margin-top: 2.25rem; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { min-height: 46.25rem;
      .services { grid-column: 1 / 9;
        &-nav { height: 4.25rem; margin-bottom: 3.875rem; border-radius: 2.125rem;
          a { border-radius: 2.125rem; padding: 0 6rem; font-size: 34px; line-height: 34px; }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding: 3.75rem 2rem 4.875rem;
      .services {
        &-list {
          &-item {
            &__info { display: flex; justify-content: space-between; }
            &__group { width: calc((100% - 6rem)/3);
              &:not(:last-child) { margin-right: 3rem; }
            }
            &__text p:not(:last-child) { margin-bottom: .5rem; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .services { grid-column: 1 / 13;
        &-nav a { padding: 0 9.25rem; }
        &-list { margin: 0 6rem; }
      }
    }
    @media screen and (min-width: $desktopWidth_md) {
      .services {
        &-list { margin: 0 12rem; }
      }
    }
  }
}

#mobile {
  .container { padding: 2rem 1rem 3.5rem;
    .mobile { grid-column: 1 / 7;
      &__title { margin-bottom: 1.5rem;
        h2 { text-align: center; }
      }
    }
    .mobile-list { grid-column: 1 / 7;
      &__title { margin-bottom: 1.125rem; }
      &__info { display: flex; flex-wrap: wrap;
        &:not(:last-child) { margin-bottom: 2.3125rem; }
      }

      &-item { width: calc((100% - 1.125rem)/2); min-height: 5.125rem; border-radius: 1.375rem; padding: .75rem .875rem; background: $itemBackground; display: flex; flex-direction: column; justify-content: space-between; align-self: flex-start;
        &:hover { background: linear-gradient(261.9deg, $accentColor 11.47%, $accentColor2 92.65%); color: $mainColor;
          .mobile-list-item__time { color: $white; }
        }
        &:nth-child(odd) { margin-right: 1.125rem; }
        &:nth-last-child(n+3) { margin-bottom: .75rem; }

        &__title { margin-bottom: .5rem; font-weight: bold; font-size: 11px; line-height: 11px; }
        &__group { display: flex; justify-content: space-between; align-items: flex-end; }
        &__price { font-size: 12px; line-height: 12px; white-space: nowrap;
          span { font-weight: bold; }
        }
        &__time { color: $iconColor; font-size: 12px; line-height: 12px; text-align: right;
          span { font-weight: bold; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) {
      .mobile { grid-column: 1 / 9; }
      .mobile-list { grid-column: 1 / 9;
        &__title { margin-bottom: 1.3125rem; }
        &__info:not(:last-child) { margin-bottom: 4.625rem; }

        &-item { min-height: 8.125rem; border-radius: 2.125rem; padding: 1rem 1.25rem;
          &__title { font-size: 17px; line-height: 17px; }
          &__price,
          &__time { font-size: 19px; line-height: 19px; }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) { padding: 2rem 2rem 10.5rem;
      .mobile-list {
        &-item { width: calc((100% - 3.5rem)/3);
          &:nth-child(odd) { margin-right: 0; }
          &:nth-last-child(n+3) { margin-bottom: 0; }
          &:not(:nth-child(3n)) { margin-right: 1.75rem; }
          &:nth-last-child(n+4) { margin-bottom: 1.5625rem; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .mobile { grid-column: 1 / 13;
        &__title { margin-bottom: 2.375rem; }
      }
      .mobile-list { grid-column: 1 / 13;
        &-item { width: calc((100% - 5.25rem)/4);
          &:not(:nth-child(3n)) { margin-right: 0 }
          &:nth-last-child(n+4) { margin-bottom: 0; }
          &:not(:nth-child(4n)) { margin-right: 1.75rem; }
          &:nth-last-child(n+5) { margin-bottom: 1.5625rem; }
        }
      }
    }
  }
}
